@import '../../../../../dist/scss/variables.scss';

h1{
    width: 91,5%;
    padding: 15px;

    text-align: center;
    font-size: 18px;
    color: $secondary-text-color;

    background-color: $tertiary-background-color;
}